.navbar {
    !important;
    background-color: #1565C0;
}

.user-info {
    margin-left: 1em;
    color: #64B5F6;
}

html {
    background-color: #E3F2FD;
}

.container-fluid {
    background-color: #E3F2FD;
    margin: 0!important;
    padding: 0!important;
}

.card{
    !important;
    background-color: #90CAF9 !important;
    padding-left: 1em!important;
    padding-right: 1em;
    padding-bottom: 1em;
}

.card-title{
    color: #0D47A1!important;
    text-decoration: underline;
}

.btn-primary {
    background-color: #1565C0!important;
    border-color: #1565C0!important;
    color: #B0BEC5!important;
}

.row {
    padding: 0!important;
    margin: 0!important;
}
