<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KeyEvents</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base_generic.css' %}">

</head>

<body>
{% if request.user.is_authenticated %}
    <header class="main-header">

            <div class="user-info">
                <p>{{request.user.first_name}} {{request.user.last_name}}</p>
            </div>

        <a href="/entery/logout" class="exit-button">Log Out</a>
        <a href="/entery/accounts/login/" class="exit-button">Log In</a>
        <a href="/entery/profile/" class="exit-button">My Profile</a>
        <a href="/entery/" class="exit-button">Home</a>
    </header>
{% endif %}

    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>
</html>