{% extends "base_generic.html" %}


{% block user_info %}
    <p>{{user_first_name}} {{ user_last_name }} from {{ department }}</p>
{% endblock %}

{% block button_block %}
    <button type="button" class="exit-button" name="logout-button">
            Log out
    </button>
{% endblock %}

{% block content%}
    {% if event_list %}
        {% for event in event_list %}
            <div class="box">
                <h1>{{ event.header }} </h1>
                <a href="{{ event.get_absolute_url }}">{{ event.short_description }}</a>
            </div>
        {% endfor %}

    {% else %}
    <p>No events here</p>
    {% endif %}
{% endblock %}