{% extends "base_generic.html" %}


{% block content %}
    {% if event_list %}
        {% for event in event_list %}
            <div class="container-fluid">
                <div class="row justify-content-center no-gutters">
                    <div class="col-4">
                        <div class="card" style="width: 30rem">
                            <h1 class="card-title">{{ event.header }} </h1>
                            <p class="card-text">{{ event.short_description }}</p>
                            <a href="{{ event.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <p class="text-danger">No events here</p>
    {% endif %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-3">
                <nav>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}

                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

{% endblock %}

{% block current_home %}
    active
{% endblock %}