{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center no-gutters">
            <div class="col-4">
                <div class="card">
                    <h1 class="card-title">{{ question.question_title }}</h1>
                    <h class="card-text">{{ question.question_text }}</h>
                    <p class="card-text text-danger">{{ error_message }}</p>
                    {% if form %}
                        <form class="form-inline my-2 my-lg-0" method="post" action="">
                            {% csrf_token %}
{#                            <div class="custom-control custom-checkbox">#}
{#                                {% crispy form %}#}
{#                            </div>#}
                            {{ form }}
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Голосовать</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block current_polls %}
    active
{% endblock %}