{% extends "base_generic.html" %}

{% block content %}
    {% if question_list %}
        {% for question in question_list %}
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <div class="card" style="width: 30rem">
                            <h1 class="card-title">{{ question.question_title }} </h1>
                            <p class="card-text">{{ question.question_text }}</p>
                            <a href="{{ question.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <p class="text-warning">No polls here</p>
    {% endif %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-3">
                <nav>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}

                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

{% endblock %}

{% block current_polls %}
    active
{% endblock %}