{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center no-gutters">
            <div class="col-4">
                <div class="card">
                    <h1 class="card-title">{{ question.question_title }}</h1>
                    <h class="card-text">{{ question.question_text }}</h>
                    <p class="card-text text-danger">{{ error_message }}</p>
                    {% if rezult_list %}
                            {% for rezult in rezult_list %}
                                <p class="card-text text-primary">{{ rezult.choice }} - {{ rezult.voters_percent }}%</p>
                            {% endfor %}
                    {% endif %}
                    {% if form %}
                        <form method="post" action="">
                            {% csrf_token %}
                            {% crispy form %}
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block current_polls %}
    active
{% endblock %}