{% extends 'base_generic.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="card">
                    <h1 class="card-title">Мои события</h1>
                    {% if joined_events %}
                    {% for event in joined_events %}
                        <p class="card-text">{{ event }}</p>
                    {% endfor %}
                        {% else %}
                        <p class="card-text text-warning">Нет событий</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block current_profile %}
    active
{% endblock %}