{% extends 'base_generic.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="card">
                    <h1 class="card-title">Оплачены</h1>
                    {% if events %}
                    {% for event in events %}
                        <li class="card-text">{{ event }}</li>
                    {% endfor %}
                        {% else %}
                        <p class="card-text text-danger">Не оплачено ни одно событие</p>
                    {% endif %}

                    <a href="/entery/profile/my-events/" class="card-link"> Мои события</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block current_profile %}
    active
{% endblock %}